<div class="container">
  
  <h1>All Categories!</h1>

    <a href="/create_category">
      <h3>Create a new category here.</h3>
    </a>

    <br>
    <hr>

    <h3>Respond to current category below.</h3>

    <div>
      <ul>
        <% @categories.each do |c|%>
            <li><a href="/list_posts_for_category/<%= c.id %>" class="index_class"><%= c.title %></a></li>
        <% end %>
      <ul>
    </div>

</div>
